---
import DatastaxLogo from "../components/DatastaxLogo.astro";
import Layout from "../components/Layout.astro";
---

<Layout title="Over capacity">
  <main
    class="flex flex-col pt-24 gap-8 p-8 max-w-screen-md mx-auto text-center items-center justify-center content-center"
  >
    <span class="text-4xl font-bold">😿💔</span>
    <h1 class="text-4xl font-bold">Over Capacity</h1>
    <p>
      We're currently over capacity because so many people are feeling the love.
      We're already aware of this as a team and are working to increase
      capacity. Please try again later.
    </p>
    <div class="flex gap-2">
      <a
        class="px-4 py-2 bg-white text-black font-bold rounded"
        href="https://langflow.new/valentines">Create Your Own Poem Generator</a
      >
      <a
        class="px-4 py-2 border font-bold border-neutral-700 rounded"
        href="https://youtube.com/@todo">Learn How it Works</a
      >
    </div>
  </main>
</Layout>
