<p>
  Happy Valentine's day from DataStax! Use this Generative AI tool built with <a
    href="https://langflow.new/valentines">Langflow</a
  > to create a unique and highly personal poem for you this Valentine's day!
</p>
<form class="flex items-end gap-2">
  <label class="flex flex-col gap-1 text-left">
    <span class="text-sm">Your GitHub username</span>
    <div class="flex items-center">
      <div
        class="border border-neutral-700 bg-neutral-900 p-2 flex items-center justify-center rounded-l h-10"
      >
        @
      </div>
      <input
        class="border-neutral-700 text-sm font-mono text-white border-t border-b border-r rounded-r h-10 p-2"
        type="text"
        name="u"
        autocomplete="off"
      />
    </div>
  </label>
  <button
    type="submit"
    class="bg-white cursor-pointer text-black p-2 text-sm font-bold h-10 rounded-md"
    >Generate</button
  >
</form>
