---
import "../styles/global.css";
import GA4 from "./GA4.astro";

const url = Astro.request.url;
const origin = new URL(url).origin;
const {
  title = "DataStax × Valentine's Day",
  ogImageUrl = `${origin}/og-home.png`,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "DataStax × Valentine's Day"}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="Generate a Valentine's Day poem from DataStax to you with AI."
    />
    <meta property="og:title" content={title || "DataStax × Valentine's Day"} />
    <meta
      property="og:description"
      content="Generate a Valentine's Day poem from DataStax to you with AI."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    {ogImageUrl && <meta property="og:image" content={ogImageUrl} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@datastaxdevs" />
    {ogImageUrl && <meta name="twitter:image" content={ogImageUrl} />}
    <link
      rel="icon"
      type="image/png"
      href="/icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <GA4 />
  </head>
  <body class="bg-black text-white">
    <header
      style="background:linear-gradient(90deg, rgb(255, 50, 118) 0%, rgb(244, 128, 255) 100%)"
      class="text-white p-2 text-sm text-center"
    >
      Join us for an in-person AI meetup in Berlin!&nbsp;<a
        href="https://lu.ma/a8dwo3y9"
        target="_blank"
        class="underline underline-offset-4">RSVP here</a
      >.
    </header>
    <slot />
  </body>
</html>
